<%= javascript_include_tag 'stats-loader' %>
<div class='col-xs-4'>
  <div id="arrivals_chart" style="width: 400px; height: 300px; ">
    <img src="images/loading.gif"style="width: 300px; height: 300px;">
  </div>
</div>
<div class='col-xs-4'>
  <div id="departures_chart" style="width: 400px; height: 300px;">
    <img src="images/loading.gif"style="width: 300px; height: 300px;">
  </div>
</div>

<script>

  google.charts.load('current', {'packages':['corechart']});
 
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var options = {
      title: 'Flight Delays'
    };

    var arrivals_chart   = new google.visualization.PieChart(document.getElementById('arrivals_chart'));
    var departures_chart = new google.visualization.PieChart(document.getElementById('departures_chart'));

    var colors = ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']

    $.get( "/arrival_stats", function( remote_data ) {
      remote_data = JSON.parse(remote_data);
      data_table = google.visualization.arrayToDataTable( remote_data );
      arrivals_chart.draw(data_table, { title: 'Arrival Delays',  'is3D':true, colors: colors } );
    });

    $.get( "/departure_stats", function( remote_data ) {
      remote_data = JSON.parse(remote_data);
      data_table = google.visualization.arrayToDataTable( remote_data );
      departures_chart.draw(data_table, { title: 'Departure Delays',  'is3D':true, colors: colors});
    });


  }

</script>
