<!DOCTYPE html>
<html lang="en">
<%= stylesheet_link_tag 'bootstrap' %>
<%= javascript_include_tag 'jquery-1.12.0.min' %>
<%= javascript_include_tag 'bootstrap' %>
<head>
  <%# <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> %>
  <%= partial 'layouts/navbar' %>
</head>
<body>
  <div class="container">
    <div class="row">
    <%= yield %>
    </div>
  </div>
</body>
</html> 